<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galeria</title>
</head>
<body>

<h5 align="left">Galería de imágenes</h5>
{% for image in images_list %}
<img src="{{image.url}}" width="300px" height="300px">
{% endfor %}

</p>
<h5 align="left">Galería de video</h5>
{% for vid in video_list %}
    <object data="{{vid.url}}"
   width="560" height="315"></object>
{% endfor %}

</p>
<h5 align="left">Galería de audio</h5>
{% for Aud in audio_list %}
    <object data="{{Aud.url}}"
   width="560" height="315"></object>
{% endfor %}

</body>
</html>